{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="K Md Mamunur Rashid">


    <title> {% block title %} Home {% endblock %} </title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    {% block extra_css %}{% endblock extra_css %}
</head>
<body>

    {% block content %}

    {% endblock content %}

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'dist/js/bootstrap.bundle.min.js' %}"></script>

    {% block extra_appjs %}{% endblock extra_appjs %}
</body>
</html>
